    <div class="form-group">
        <label for="name">Titre de l'article</label>
        <input type="text" name="name" class="form-control" value=" {{ item.name }} " id="name">
    </div>

    <div class="form-group">
        <label for="slug">Titre de l'article</label>
        <input type="text" name="slug" class="form-control" value=" {{ item.slug }} " id="slug">
    </div>

    <div class="form-group">
        <label for="content">Titre de l'article</label>
        <textarea class="form-control" name="content" id="content" rows="10">{{item.content}}</textarea>
    </div>