{% extends "layout.twig" %}
{% block titre "Mes Articles" %}
{% block body %}

<h1>Bienvenu Sur Le Blog</h1>
	
<ul></ul>
{% for post in posts %}

    <li><a href="{{ path('blog.show', {slug : post.slug ,id:post.id}) }}">
        {{post.name}} 
    </a></li>

{% endfor %}

</ul>
{% endblock %}

