{% extends "layout.twig" %}
{% block titre "Mes Articles" %}
{% block body %}

<h1>Bienvenu Sur Le Blog</h1>
<ul></ul>
    <li><a href="{{ path('blog.show', {slug : 'ouiouimonsieur7'}) }}">Los Article Uno</a></li>
    <li>Article</li>
    <li>Article</li>
    <li>Article</li>
</ul>
{% endblock %}

