{% extends "layout.twig" %}
{% block titre post.name %}
{% block body %}
<h1>Bienvenu Sur L'Article {{post.name}}</h1>

<p class="text-muted"> {{ post.created_at | ago }} </p>

{{post.content}}

{% endblock %}
